<div class="wrapper">
  <div class="box1">
    Виберіть валюту:
    <div class="wrapper2">
      <p></p>
      <div class="box4">
        <app-my-combo-box (onItemSelected)="setFrom($event)" [name]="'from'"></app-my-combo-box>
      </div>
      <div class="box5">
        <app-my-combo-box (onItemSelected)="setTo($event)" [name]="'to'"></app-my-combo-box>
      </div>
    </div>
  </div>

  <div class="box2">
    Сума:

    <form #selectedForm="ngForm">

      <p *ngIf="from != '' && to != '' && serviceAPI.convert"><b>Курс {{from}} - {{to}} становить: {{serviceAPI.convert.info.rate}}</b></p>
      <p>Введіть суму:</p>
      <input type="number" class="form-control" id="name" name="name" [(ngModel)]="val1_input">
      <input type="submit" value=" Розрахувати" (click)="onClick()" />
    </form>
    <p></p>

    <!-- <input type="submit" value="Test GET" (click)="testAPI()" /> -->


  </div>
  <div class="box3">
    Результат:
    <p *ngIf="serviceAPI.convert">{{serviceAPI.convert.result}}</p>
  </div>
</div>