.wrapper {
    display: flex;

}

.wrapper>div {
    flex: 1;
    border: 1px solid rgb(143, 143, 146);
    padding: 10px;
}

.mainDiv {
    margin: 0.5em;
    padding: 0.5em;
    width: 80%;
    margin: 0 auto;
    background: rgb(244, 244, 245);
    text-align: center;
}